header{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2vw;
  padding: 1vw 4vw;
  background: cadetblue;
  box-shadow: 0px 4px 6px 1px rgba(0,0,0,0.39);
  margin-bottom: 0.5vw;
}

app-filter{
  display: flex;
  flex-direction: row;
  gap: 1vw;
}

app-sort{
  display: flex;
  flex-direction: row;
}
