#dashboard{
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  width: 100%;
  place-items: center;
  place-content: center;
  gap: 2rem;
}

app-add-board{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
}
