.f-part {
  background: aqua;
  padding: 1vw;
}

.s-part{
  background: cadetblue;
  padding: 1vw;
}
input {
  font-weight: bold;
  font-size: 2rem;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.edit{
  width: 10vw;
}
