<div class="flex-row" (mouseleave)="expanded = false">

  <div class="f-part" (mouseenter)="expanded = true"
       [routerLink]="['board', board._id]" [queryParams]="{id: board._id}">

    <input #input value="{{ board.name }}" [disabled]="disabled"
           (keyup.enter)="updateName()" (blur)="updateName()">

    <p class="text-sm">  {{ board.des }} </p>
    <p>{{ board.date | date: 'shortDate': '': 'en-UK' }}</p>

  </div>

  <div *ngIf="expanded" class="s-part" >
    <div class="tasks">
      <p>TODO : {{ board.tasks.todo.length }}</p>
      <p>IN PROGRESS : {{ board.tasks.progress.length }}</p>
      <p>DONE : {{ board.tasks.done.length }}</p>
    </div>
    <div class="handle">
      <button (click)="edit()" class="edit">EDIT</button>
      <button (click)="delete()">DELETE</button>
    </div>
  </div>

</div>

