<button id="add" class="main" (click)="menuOpen = !menuOpen">
  <p>plus</p>
  <p>Add new</p>
</button>


<ng-container *ngIf="menuOpen">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <p>
      <label>Name of board </label>
      <input type="text" formControlName="name">
    </p>
    <p>
      <label>Description </label>
      <input type="text" formControlName="des">
    </p>
    <p>
      <button type="submit" [disabled]="!form.valid"
              [ngStyle]="form.valid ? {'cursor': 'pointer'}: {'cursor': 'not-allowed'}"
      >Submit
      </button>
    </p>
  </form>
</ng-container>
